services:
  web:
    image: nginx:alpine
    volumes:
      - ./site:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /home/analyst/socket23_cert:/etc/nginx/certs:ro
    ports:
      - "443:443"
    restart: unless-stopped
    read_only: true
    tmpfs:
      - /var/cache/nginx
      - /var/run
      - /tmp
    command: >
      /bin/sh -lc "set -e; mkdir -p /tmp/client_temp && chown -R 101:101 /tmp/client_temp; exec nginx -g 'daemon off;'"
    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 256M
    security_opt:
      - no-new-privileges:true
    cap_drop: ["ALL"]
